*
{
    font-family: 'Ubuntu', sans-serif;
}

#title {
  
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:1fr 2fr 4fr 3fr;
    grid-template-areas:
    "arrow . title ."
}

#mtitle {
    grid-area:title;
    border:1px solid black;
    padding:5%;
    text-align:center;
    font-size:2vw;
}


#back {
    grid-area:arrow;
    margin-top:2%;
    font-size:9vw;
    color:black;
}

#layout {
    width:90%;
    margin:auto;
}

textarea {
    resize:none;
}

#courses {
    width: 100%;
}

#newCourse {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 2.2vw;
    width: 100%;
        .addCourseInput {
        width: 82vw;
        font-size: 1.5vw;
        padding: 0.5vw;
    }
    
      .add {
        width: 15vw;
        font-size: 1.4vw;
        text-align: center;
        color: white;
        background-color: #663399;
        border: none;
    }
}


#courselist {
    display: flex;
    flex-direction: column;
}


#save {
    width:30%;
    margin:auto;
    text-align:center;
    background-color:rebeccapurple;
    padding-top:1%;
    padding-bottom:1%;
    color:white;
    font-size:120%;
}

#save:hover {
    cursor:pointer;
}

.editcourse {
    display: none;
}

.subhead {
    font-size: 1.5em;
    font-weight: bold;
}

.custom-file-upload {
    width: 40vw;
    font-size: 1.2vw;
    text-align: center;
    color: white;
    background-color: #663399;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

input[type="file"] {
    display: none;
}

.multiple-choice {
    font-size: 1.3em;
    padding-left: 20px;
}

.inputBox {
    width: 86vw;
    height: 6vw;
    font-size: 1.3em;
    padding: 10px
}

.save-delete-buttons {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.saveButton {
    width: 30%;
    margin: auto;
    text-align: center;
    background-color: rebeccapurple;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    font-size: 120%;
    border: none;
    border-radius: 4px;
}

.deleteButton {
    width: 30%;
    margin: auto;
    text-align: center;
    background-color: #b12e2e;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    font-size: 120%;
    border: none;
    border-radius: 4px;
}

.listItem {
    display: inline;
    margin-bottom:2rem;
}
.lineti {
    display:inline;
}