*
{
    font-family: 'Ubuntu', sans-serif;
}

#title {
  
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:1fr 2fr 4fr 3fr;
    grid-template-areas:
    "arrow . title ."
}

#mtitle {
    grid-area:title;
    border:1px solid black;
    padding:5%;
    text-align:center;
    font-size:2vw;
}


#back {
    grid-area:arrow;
    margin-top:2%;
    font-size:9vw;
    color:black;
}

#layout {
    width:90%;
    margin:auto;
}

textarea {
    resize:none;
}

#courses {
    width: 100%;
}

#newCourse {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 2.2vw;
        #addCourse {
        width: 80vw;
        font-size: 1.5vw;
        padding: 0.5vw;
    }
    
      #button {
        width: 15vw;
        font-size: 1.4vw;
        text-align: center;
        color: white;
        background-color: #663399;
        border: none;
    }
}

#courselist {
    display: flex;
    flex-direction: column;

    #course {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #edit {
            font-size: 2.5vw;
        }
        #delete {
            font-size: 2.5vw;
        }
    }
}


#save {
    width:30%;
    margin:auto;
    text-align:center;
    background-color:rebeccapurple;
    padding-top:1%;
    padding-bottom:1%;
    color:white;
    font-size:120%;
}

#save:hover {
    cursor:pointer;
}

