$menuColour: rgba(14, 113, 184, 0.8);
$applyBtn: rgba(14, 133, 184, 1);
$news: rgba(102, 36, 131, 1);
$footer1: rgba(2, 43, 58, 1);
$footer2: rgba(14, 113, 184, 1);
$shareBtn: rgba(14, 113, 184, 1);
$imageBanner: rgba(102, 36, 131, 0.5);
$courseColour: rgba(102, 36, 131, 1);
