* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: turquoise;
    width: 100%;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    width: absolute;
    display: flex;
    background-color: white;
}

.navbar-links li {
    list-style: none;
    width: 100%;
}

.navbar-links li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #662483;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgba(139, 138, 138, 0.384);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #662483;
    border-radius: 10px;
}

@media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        background-color:  rgba(14, 113, 184, 0.8);;
    }

    .navbar-links li {
        text-align: center;
        width: 100%;
    }

    .navbar-links li a {
        color: white;
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.apply-button {
    margin: 0;
    padding: 0;
}