* {
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-family: "Ubuntu";
  font-size: 18px;
}

* h1 {
  font-size: 200%;
}

* h2 {
  font-size: 160%;
}

* h3 {
  font-size: 125%;
}

.course {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.course a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 200%;
  font-weight: bold;
  color: white;
  position: absolute;
  z-index: 4;
  margin-top: 45vw;
}

.course img {
  width: 100%;
  height: 100vw;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  z-index: 2;
}

@media only screen and (min-width: 600px) {
  #courses {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    margin-bottom: 2em;
  }
  #courses .course {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #courses .course a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 4;
    margin-top: 65%;
  }
  #courses .course img {
    width: 100%;
    height: 50vw;
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
    z-index: 2;
  }
}

#searchblob {
  position: absolute;
  top: 60%;
  display: none;
  list-style-type: none;
  background-color: #719fe6;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
  margin: auto;
  z-index: 3;
}

#searchblob a {
  text-decoration: none;
  color: black;
}

.findCourse {
  padding-left: 3em;
  padding-right: 3em;
  background-image: url("/main/images/books.jpg");
  width: 100%;
  height: 10em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.findCourse .searchForm {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.findCourse .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6px;
  margin: auto;
  border: 1px solid black;
}

@-webkit-keyframes example {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1;
  }
  from {
    top: 120%;
  }
  to {
    top: 60%;
  }
}

@keyframes example {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1;
  }
  from {
    top: 120%;
  }
  to {
    top: 60%;
  }
}

@-webkit-keyframes unexample {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  from {
    top: 60%;
  }
  to {
    top: 120%;
  }
}

@keyframes unexample {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  from {
    top: 60%;
  }
  to {
    top: 120%;
  }
}

/* The element to apply the animation to */
.search:focus ~ #searchblob {
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.search:not(:focus) ~ #searchblob {
  -webkit-animation-name: unexample;
          animation-name: unexample;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}
/*# sourceMappingURL=Courses.css.map */