@import "./variables";
.footer {
  color: white;
  width: 100%;
  margin: 0;
  .topFooter {
    background-color: $footer1;
    .contact {
      margin-left: 1em;
      padding-top: 1em;
    }
    .media {
      margin-left: 1em;
      padding-top: 1em;
    }
    .links {
      margin-left: 1em;
      padding-top: 1em;
    }
  }
  .bottomFooter {
    background-color: $footer2;
    .copyright {
      margin-left: 1em;
      font-size: 75%;
    }
  }
}
@media only screen and (max-width: 600px) {
  * {
    font-family: "Ubuntu";
    font-size: 10px;
    h1 {
      font-size: 200%;
    }
    h2{
      font-size: 160%;
    }
    h3 {
      font-size: 125%;
    }
}}
@media only screen and (min-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "topFooter topFooter topFooter"
      "bottomFooter bottomFooter bottomFooter";
    .topFooter {
      grid-area: topFooter;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "contact media links";
      .contact {
        grid-area: contact;
      }
      .media {
        grid-area: media;
      }
      .links {
        grid-area: links;
        img {
          width: 50%;
        }
      }
    }
    .bottomFooter {
      grid-area: bottomFooter;
    }
  }
}
