<head>
    <link rel="stylesheet" href="./public/main/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>{{{pageName}}}</title>
</head>
<div class="header">
    <h1>{{{header}}}</h1>
</div>
<div class="main">
    <p>{{{main}}}</p>
</div>
{{>footer}}